<aside class="auth-signal" [class.auth-signal--compact]="compact()" aria-hidden="true">
  <div class="auth-signal__brand">
    <img src="assets/branding/energycore-mascot-mark.svg" alt="" width="46" height="46" />
  </div>

  <div class="auth-signal__core">
    <span class="auth-signal__orbit auth-signal__orbit--outer"></span>
    <span class="auth-signal__orbit auth-signal__orbit--inner"></span>
    <img
      class="auth-signal__mascot"
      src="assets/branding/energycore-mascot.png"
      alt=""
      width="1206"
      height="1304"
    />
  </div>

  <div class="auth-signal__status">
    <svg lucideShieldCheck></svg>
    <span></span>
    <span></span>
    <span></span>
  </div>
</aside>
